APP_NAME=DIDOX
APP_ENV=local
APP_KEY=base64:orNUyDKzcmNzqNq7KXpNnLsZIJ5OkQV22LNJ6xArV3w=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=didox01
DB_USERNAME=didox-owner
DB_PASSWORD=didox@104

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.jornadas-hsh.ao
MAIL_PORT=587
MAIL_USERNAME=suporte@jornadas-hsh.ao
MAIL_PASSWORD=89G&^wU2C?$z
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="suporte@jornadas-hsh.ao"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=EXX2E1Mmx8lCCIOO1CimPXNxnKl9LlTK17yBB2d0tpqjAaS20zwEuXROhngYEzUr

GOOGLE_CLIENT_ID=512257203058-7u89t52d5mckc97mlks53aqfcauftnis.apps.googleusercontent.com
